<div class="col row">

  <div id="container-parent" class="d-flex justify-content-between flex-column align-items-start">
    
    <full-calendar class="col-12" [options]="calendarOptions"></full-calendar>
    
    <div class="header col col-12">
      <label class="h5 mb-0 mt-3">Cursos de hoy</label>
      <hr class="w-100">

      <div class="d-flex flex-wrap">

        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card [add]="true"></app-card>

      </div>

    </div>

    <div id="container" class="d-flex justify-content-between
      align-items-center col col-12 p-0 m-0">

      <div id="assignement-parent" class="w-50 mx-2 shadow-sm rounded overflow-auto h-100">
        <div class="header pt-4">
          <label class="h5 mb-0 px-3 pb-3">Asignaturas de hoy</label>

          <table class="table table-hover">
            <thead>
              <th class="th-avatar"></th>
              <th></th>
            </thead>
            
            <tbody>
              <tr class="my-3">
                <td>
                  <label class="avatar"><ion-icon name="bookmarks-outline"></ion-icon></label>
                </td>
                <td>
                  <label class="mt-2">Lengua española</label>
                </td>
              </tr>

              <tr class="my-3">
                <td>
                  <label class="avatar"><ion-icon name="bookmarks-outline"></ion-icon></label>
                </td>
                <td>
                  <label class="mt-2">Matemáticas</label>
                </td>
              </tr>
              
              <tr class="my-3">
                <td>
                  <label class="avatar"><ion-icon name="bookmarks-outline"></ion-icon></label>
                </td>
                <td>
                  <label class="mt-2">Sociales</label>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>

      <div id="student-parent" class="w-50 mx-2 shadow-sm rounded h-100 overflow-auto">
        <div class="header pt-4">
          <label class="h5 mb-0 px-3 pb-3">Estudiantes</label>

          <table class="table table-hover">
            <thead>
              <th class="th-avatar"></th>
              <th></th>
              <th></th>
            </thead>
            
            <tbody>
              <tr class="my-3">
                <td>
                  <label class="avatar">PM</label>
                </td>
                <td>
                  <label class="mt-2">Anthony Pérez</label>
                </td>
                <td>
                  <label class="mt-2">2 Courses</label>
                </td>
              </tr>
              <tr class="my-3">
                <td>
                  <label class="avatar">PM</label>
                </td>
                <td>
                  <label class="mt-2">Anthony Pérez</label>
                </td>
                <td>
                  <label class="mt-2">2 Courses</label>
                </td>
              </tr>
              
              <tr class="my-3">
                <td>
                  <label class="avatar">PM</label>
                </td>
                <td>
                  <label class="mt-2">Anthony Pérez</label>
                </td>
                <td>
                  <label class="mt-2">2 Courses</label>
                </td>
              </tr>

              <tr class="my-3">
                <td>
                  <label class="avatar">PM</label>
                </td>
                <td>
                  <label class="mt-2">Anthony Pérez</label>
                </td>
                <td>
                  <label class="mt-2">2 Courses</label>
                </td>
              </tr>

              <tr class="my-3">
                <td>
                  <label class="avatar">PM</label>
                </td>
                <td>
                  <label class="mt-2">Anthony Pérez</label>
                </td>
                <td>
                  <label class="mt-2">2 Courses</label>
                </td>
              </tr>

              <tr class="my-3">
                <td>
                  <label class="avatar">PM</label>
                </td>
                <td>
                  <label class="mt-2">Anthony Pérez</label>
                </td>
                <td>
                  <label class="mt-2">2 Courses</label>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>

  </div>

</div>