<div id="student-parent" class="w-100 mx-2 shadow-sm rounded h-100 overflow-auto">
  <div class="header pt-4">
    <label class="h5 mb-0 px-3 pb-3">Estudiantes</label>

    <table class="table table-hover">
      <thead>
        <th class="th-avatar"></th>
        <th></th>
        <th></th>
      </thead>

      <tbody>
        <tr class="my-3">
          <td>
            <label class="avatar">PM</label>
          </td>
          <td>
            <label class="mt-2">Anthony Pérez</label>
          </td>
          <td>
            <label class="mt-2">2 Courses</label>
          </td>
        </tr>
        <tr class="my-3">
          <td>
            <label class="avatar">PM</label>
          </td>
          <td>
            <label class="mt-2">Anthony Pérez</label>
          </td>
          <td>
            <label class="mt-2">2 Courses</label>
          </td>
        </tr>

        <tr class="my-3">
          <td>
            <label class="avatar">PM</label>
          </td>
          <td>
            <label class="mt-2">Anthony Pérez</label>
          </td>
          <td>
            <label class="mt-2">2 Courses</label>
          </td>
        </tr>

        <tr class="my-3">
          <td>
            <label class="avatar">PM</label>
          </td>
          <td>
            <label class="mt-2">Anthony Pérez</label>
          </td>
          <td>
            <label class="mt-2">2 Courses</label>
          </td>
        </tr>

        <tr class="my-3">
          <td>
            <label class="avatar">PM</label>
          </td>
          <td>
            <label class="mt-2">Anthony Pérez</label>
          </td>
          <td>
            <label class="mt-2">2 Courses</label>
          </td>
        </tr>

        <tr class="my-3">
          <td>
            <label class="avatar">PM</label>
          </td>
          <td>
            <label class="mt-2">Anthony Pérez</label>
          </td>
          <td>
            <label class="mt-2">2 Courses</label>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>