<div class="col col-12 p-0">
  <ul class="col col-12 p-0 m-0">

    <div class="text-center mb-3 mt-2">
      <label class="h4">Some name</label>
    </div>

    <li class="active py-2 w-100 d-flex justify-content-center align-items-center">
      <ion-icon name="home-outline" class="h4 m-0 pointer-none"></ion-icon>
      <label class="m-0 mx-3 pointer-none">Inicio</label>
    </li>

    <li class="py-2 w-100 d-flex justify-content-center align-items-center">
      <ion-icon name="school-outline" class="h4 m-0 pointer-none"></ion-icon>
      <label class="m-0 mx-3 pointer-none">Cursos</label>
    </li>

    <li class="py-2 w-100 d-flex justify-content-center align-items-center">
      <ion-icon name="book-outline" class="h4 m-0 pointer-none"></ion-icon>
      <label class="m-0 mx-3 pointer-none">Asignaturas</label>
    </li>

    <li class="py-2 w-100 d-flex justify-content-center align-items-center">
      <ion-icon name="people-outline" class="h4 m-0 pointer-none"></ion-icon>
      <label class="m-0 mx-3 pointer-none">Estudiantes</label>
    </li>

  </ul>
</div>