<div class="col row m-0 p-0">

  <div id="container-parent" class="row m-0 p-0 d-flex justify-content-start align-items-start">
    
    <app-breadcrumb>
      <li class="breadcrumb-item"><a class="h3" routerLink="/course">Cursos</a></li>
      <li class="breadcrumb-item"><a class="h3">Lengua Española</a></li>
    </app-breadcrumb>
    
    <app-calendar></app-calendar>

    <div class="col col-12 d-flex justify-content-end align-items-center m-0 p-0 mt-2">
      <div class="col col-auto form-check form-switch m-2 py-2 border rounded d-flex justify-content-end align-items-center">
        <input class="form-check-input mx-1 h5" type="checkbox" id="assistanceSwitch" (click)="onChangeMode()" [checked]="assistenceMode">
        <label *ngIf="assistenceMode" class="form-check-label mx-2 font-weight-bold h5 m-0" for="assistanceSwitch">Asistencia</label>
        <label *ngIf="!assistenceMode" class="form-check-label mx-2 font-weight-bold h5 m-0" for="assistanceSwitch">Calificaciones</label>
      </div>
    </div>
    
    <app-assistance *ngIf="assistenceMode" [configuration]="configuration"></app-assistance>
    <app-score *ngIf="!assistenceMode" [configuration]="configuration"></app-score>
  </div>

</div>