#student-parent {
    background-color: #e6f5fa;

    & label {
        color: #006c90;
    }
}

tr {
    margin-left: 12px;
    margin-right: 12px;
    background-color: #ffffffab;
    border-radius: 5em;
}