<div class="col col-12 mt-3">
  <div class="header">
    <label for="" class="h4">Cursos > <label for="" class="h5">Crear nuevo curso</label></label>
  </div>

  <div class="body border rounded mb-3">
    <form action="">
      <div class="form-group col col-12 py-4 px-2">
        <label for="" class="form-label h5">Title</label>
        <input type="text" class="form-control" placeholder="Title">
      </div>

      <div id="parent-container" class="col col-12 row p-0 m-0 d-flex justify-content-between align-items-start flex-row pb-3">
        <div class="col col-6 h-100 overflow-auto">
          <div class="col col-12 border rounded px-3 mb-3">
            <label for="" class="h5 mt-2">Asignaciones</label>

            <div class="overflow-auto">
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Lengua
                  Española</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Matematicas</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Sociales</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
            </div>

          </div>

          <div class="col col-12 border rounded px-3">
            <label for="" class="h5 m-2">Horarios</label>

            <div class="overflow-auto">

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Lunes</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Martes</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Miercoles</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Jueves</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Viernes</label>
              </div>

            </div>

          </div>
        </div>
  
        <div class="col col-6 d-flex justify-content-start align-items-start h-100">
          <div class="col col-12 border rounded px-3 mb-3 overflow-auto h-100">
            <label for="" class="h5 mt-2">Estudiantes</label>

            <div class="">
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Lengua
                  Española</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Matematicas</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Sociales</label>
              </div>

              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
              
              <div class="form-check form-switch m-2 py-2 border rounded">
                <input class="form-check-input" type="checkbox"
                  id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Ciencias
                  Naturales</label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col col-12 d-flex justify-content-end align-items-center pt-2 px-3 pb-3">
        <button class="btn btn-primary border rounded m-0 px-1 d-flex justify-content-center align-items-center">
          <ion-icon name="add-circle-outline" class="h3 m-0 pointer-none"></ion-icon>
          <label for="" class="px-2 pointer-none">Agregar curso</label>
        </button>
      </div>

    </form>
  </div>
</div>