#assignement-parent {
    background-color: #eefcef;

    & label {
        color: #30a139;
    }
}

tr {
    margin-left: 12px;
    margin-right: 12px;
    background-color: #ffffffab;
    border-radius: 5em;
}