<div id="assignement-parent" class="w-100 mx-2 shadow-sm rounded overflow-auto
  h-100">
  <div class="header pt-4">
    <label class="h5 mb-0 px-3 pb-3">Asignaturas de hoy</label>

    <table class="table table-hover">
      <thead>
        <th class="th-avatar"></th>
        <th></th>
      </thead>

      <tbody>
        <tr class="my-3" *ngFor="let assignature of assignatureList">
          <td>
            <label class="avatar"><ion-icon name="bookmarks-outline"></ion-icon></label>
          </td>
          <td>
            <label class="mt-2">{{assignature.name}}</label>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>