 <div *ngIf="!add; else createDesign" [class]="colors[index]" class="card rounded
  col col-12 m-3 p-3 d-flex justify-content-start align-items-center flex-row
  shadow-sm">
  <div id="image" class="pointer-none">
    <ion-icon name="school"></ion-icon>
  </div>
  <div class="title d-flex flex-column pointer-none">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #createDesign>
  <div
    class="card-create card rounded col col-12 m-3 p-3 d-flex
    justify-content-evenly align-items-center flex-row shadow-sm">
    <div id="image" class="pointer-none text-black">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
    <div class="title pointer-none">
      <label class="font-weight-bold h5 text-black">Add new</label>
    </div>
  </div>
</ng-template>