.search-icon {
    right: 14px;
    top: 4px;
}

* {
    color: #424242;
}

::ng-deep {
    ion-icon {
        cursor: pointer;
        padding: 4px;
        border-radius: 100%;
        &.text-primary:hover {
            background-color: rgba(var(--bs-primary-rgb));
            color: white !important;
        }
        
        &.text-danger:hover {
            background-color: rgba(var(--bs-danger-rgb));
            color: white !important;
        }
        
        &.text-success:hover {
            background-color: rgba(var(--bs-success-rgb));
            color: white !important;
        }
    }
}